<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <div class="container mt-5">
    
            <h1 class = "text-center"> To-Do App </h1>

    <form method="POST">
    {% csrf_token %}
    {{form }}
    <input type = "submit" class = "btn btn-primary" value = "Add">
    
    </form>
       <ul class="list-group mt-3">
       {% if data %}

            {% for row in data%}

                    <li class = "m-3 list-group-item">{{row.text}}
                        <a href = "/delete/{{row.pk}}">
                            <button class="ml-2 btn btn-primary float-right">Delete</button>
                        </a>
                    </li> 

            {% endfor %}              
        {% endif %}
</ul>     

    </div>
</body>
</html>